* {
  box-sizing: border-box;
}
h1 {
     margin: 20px;
    text-align: center;
    margin-top: 20px;
    font-family: Helvetica;
    font-size: 169%;
}

/*section {
    padding: 15px;
    width: 100%;
    position: relative;
}*/

p {
    position: relative;
    clear: right;
}
div {
    position: relative;
    background: gray;
    border: 1px solid #000;
    width: 100%;
    margin: auto;
}
.chicken, .beef, .shusi {
    float: right;
    width: 150px;
    border: 1px solid #000;
    margin: 0;
    padding: 11px;
    text-align: center;
    font-weight: bold;
}
.chicken{
  background: #D59898;
}
.beef{
    background: #C14543;
    color:#fff;
}
.shusi{
    background: #E5D198;
}
.content {
        padding: 15px;
        margin: 0px;
        overflow: auto;
    }
/* Media Query */

@media (min-width: 992px) {
       .col-lg-4 {
           float: left;
           width: 33.33%;
            padding: 15px;
       }
   }


   @media (min-width: 768px) and (max-width: 991px) {
          .col-md-6 {
              float: left;
              width: 50%;
              padding: 15px;
          }

         .col-md-12{
          float: left;
          width: 100%;
          padding: 15px;     
         }
     }

    
  @media (max-width: 767px) {
        .col-sm-12 {
          float: left;
          width: 100%;
          padding: 15px;
        }
   }

